{% extends "base.html" %}
{% block head %}
<style>
  html {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    background-image: url("{{url_for('static', filename='Fond_violet.png')}}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

{% endblock %}


{% block content %}
<script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.4/dist/tf.min.js"></script>
<script src="{{url_for('static', filename='asteroids/ship.js')}}"></script>
<script src="{{url_for('static', filename='asteroids/asteroid.js')}}"></script>
<script src="{{url_for('static', filename='asteroids/laser.js')}}"></script>
<script src="{{url_for('static', filename='asteroids/Ga.js')}}"></script>
<script src="{{url_for('static', filename='asteroids/brain.js')}}"></script>
<script src="{{url_for('static', filename='asteroids/Game.js')}}"></script>
<script src="{{url_for('static', filename='asteroids/sketch.js')}}"></script>

<input type="file" id="upload-json" />
<input type="file" id="upload-weights" />
<style>
  body {
    padding: 0;
    margin: 0;
  }
</style>
{% endblock %}